body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.green {
    background-color: #28A745;
    color: #FFFFFF;
}

.navbar-brand {
    padding-left: 20px; 
}

form {
    text-align: center;
    padding: 20px;
}

img {
    width: 86px;
}
.card-text {
    font-weight: 300;
    font-size: 16px;
    color: #707070;
}
h5 {
    font-weight: 300;
    font-size: 20px;
    color: #212529;
}
p {
    font-weight: 300;
    font-size: 13px;
    color: #707070;
}
.price {
    font-weight: 300;
    font-size: 16px;
    text-align: end;
}
strong {
    font-size: 300;
    font-size: 20px;
    color: #28A745;
}
footer {
    text-align: center;
    padding-top: 20px;
}
.footer-text {
    font-weight: 300;
    font-size: 16px;
    color: #707070;
}
